<%= page_title(parent.title) if parent.show_title_in_page %>
<% current_site.spectacle_event_categories.each do | c | %>
  <h3 class="category-title"><%= c.title %></h3>
  <ul class="list-unstyled list-calendar">
  <% c.spectacle_events.each do | e | %>
    <%= render e %>
  <% end %>
  </ul>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= link_to "#{t(:"spectacles.calendar")} 2015", "/assets/Calendrier-2015.pdf", 
      :target => "_blank", :class => "btn btn-primary" %>
    <%= link_to "#{t(:"spectacles.calendar")} 2014", "/assets/Calendrier-2014.pdf", 
      :target => "_blank", :class => "btn btn-primary" %>
    <%= link_to "#{t(:"spectacles.calendar")} 2013", "/assets/Calendrier-2013.pdf", 
      :target => "_blank", :class => "btn btn-primary" %>
    <%= link_to "#{t(:"spectacles.calendar")} 2012", "/assets/Calendrier-2012.pdf", 
      :target => "_blank", :class => "btn btn-primary" %>
    <%= link_to "#{t(:"spectacles.calendar")} 2011", "/assets/Calendrier-2011.pdf", 
      :target => "_blank", :class => "btn btn-primary" %>
  </div>
</div>
