<%= page_title(parent.title) %>
<ul class="list-unstyled list-calendar">
<%= render collection %>
</ul>

<div class="row">
  <div class="col-md-12">
    <%= link_to "Calendrier 2014", "/assets/Calendrier-2014.pdf", 
      :target => "_blank", :class => "btn btn-primary" %>
    <%= link_to "Calendrier 2013", "/assets/Calendrier-2013.pdf", 
      :target => "_blank", :class => "btn btn-primary" %>
    <%= link_to "Calendrier 2012", "/assets/Calendrier-2012.pdf", 
      :target => "_blank", :class => "btn btn-primary" %>
    <%= link_to "Calendrier 2011", "/assets/Calendrier-2011.pdf", 
      :target => "_blank", :class => "btn btn-primary" %>
  </div>
</div>
