<% content_for :header do %>
<div class="background-image-holder">
<%= image_tag(resource.images.first.thumbnail("1400x900#").url, :alt => "")  %>
</div>
<% end if resource.images.any? %>
<%= content_for :page_header do %>
 <%= page_title(resource.title) %>
<% end %>
<%# resource_cache(resource) do %>
	<article class="article-spectacle">
		
		<div class="row">
			<div class="col-xs-12">

				<p class="spectacle-links">
					<%= link_to "#video", :class => "open-video-link" do %>
						<% "<i class='fa fa-video-camera'></i><span class='label'>Video</span>".html_safe %>					
					<% end if resource.video_url? %>
					<%= link_to "#gallery", :class => "open-gallery-link" do %>
						<% "<i class='fa fa-image'></i><span class='label'>Images</span>".html_safe %>					
					<% end if resource.images.any? %>
				</p>

				<div class="page-lead">
					<%= render_html_text(resource.body) %>
				</div>

				<% if resource.intro? %>
				<div class="spectacle-intro">
          <i class="fa fa-quote-left"></i>
					<%= render_html_text(resource.intro) %>
				</div>
				<% end %>

				<% if resource.team? %>
				<div class="spectacle-chapter spectacle-team">
					<h5 class="spectacle-chapter-title">Distribution</h5>
					<%= render_html_text(resource.team) %>
				</div>
				<% end %>
		
				<% if resource.prod? %>
				<div class="spectacle-chapter spectacle-prod">
					<h5 class="spectacle-chapter-title">Production</h5>
					<%= render_html_text(resource.prod) %>
				</div>
				<% end %>

				<% if resource.co_prod? %>
				<div class="spectacle-chapter spectacle-coprod">
					<h5 class="spectacle-chapter-title">Coproduction</h5>
					<%= render_html_text(resource.co_prod) %>
				</div>
				<% end %>
				
				<% if resource.sponsor? %>
					<div class="spectacle-chapter spectacle-sponsors">
						<h5 class="spectacle-chapter-title">Soutiens</h5>
						<%= render_html_text(resource.sponsor) %>
					</div>
				<% end %>
        
				<% if resource.subtitle? %>
					<div class="spectacle-chapter spectacle-subtitle">
						<%= render_html_text(resource.subtitle) %>
					</div>
				<% end %>
        
	
				<% if resource.spectacle_events.try(:any?) %>
				  <h3 class="spectacle-events-title"><%= t(:"spectacles.upcoming_dates") %></h3>
					<ul class="list-unstyled spectacle-events">
						<% resource.spectacle_events.each do |e| %>
				  			<%= render "event", :spectacle_event => e %>
				  		<% end %>
					</ul>
				<% end %>
			</div>
		</div>
	</article>

	<%= render "spectacles/modal", :images => resource.images if resource.images.any? %>
<%# end %>