<%# cache([site, I18n.locale, 'footer']) do %>
<footer id='footer' class="footer">
  <div class='container'>
    <div class='row'>
      <div class="col-sm-6 col-about">
        <h5>À propos</h5>
        <p><strong>Chloé Moglia est artiste associée aux :</strong>
          <br><%= link_to "CENTQUATRE - Paris", 
          :href => "http://www.104.fr/", :target => "_blank" %>
          <br><%= link_to "Manège de Reims, scène nationale", 
          :href => "http://www.manegedereims.com/", :target => "_blank" %>
          <br><%= link_to "Théâtre de l’Agora, scène nationale d’Evry et de l’Essonne", 
          :href => "http://www.theatreagora.com/", :target => "_blank" %>
        </p>
    </div>

    <!-- Add the extra clearfix for only the required viewport -->
    <div class="clearfix visible-sm-block"></div>

    <div class="col-sm-6 col-contact">
      <h5>Contact</h5>
      <p><strong>Contact artistique : </strong><%= mail_to('moglia@rhizome-web.com', 'Chloe Moglia', :encode => :javascript) %>
      <br>
      <strong>Contact Production et Diffusion : </strong><br>
      <%= mail_to('edelin@rhizome-web.com', 'Laurence Edelin', :encode => :javascript) %> +33 (0)6 09 08 04 08
      <br>
      <strong>Adresse postale :</strong>
      <br>
      Rhizome - Kerjean - F-56950 Crac'h
      <br>
      Siège social: Rhizome - 60 rue Claude le Lae - F-29800 Landerneau
      </p>
    </div>  
  </div>
  <div class='row'>
    <div class="col-md-12">
      <p class="copyright pull-right"><span><%= t(:'copyright', :year => Time.now.year, :copyright_name => site.copyright_name) if site.copyright_name %></span>
        <a href='http://www.joufdesign.com' class="copyright-author" target='_blank'>
          <%#= t(:'site_by', :name => "Jouf Design").html_safe %>
        </a></p>
      </div>
    </div>
  </div> 
</footer>
<%# end %>
