<% rand_id = "slider_#{rand(10000)}" %>
<div class="image-slider" id="<%= rand_id %>">  
  <ul class="slides">
    <% images.each do |img| %>
    <li><a href="//fr.pinterest.com/pin/create/button/?media=<%= img.thumbnail("1140x734#").url() %>&description=remax-stbarths" data-pin-do="buttonPin" data-pin-config="none" data-pin-color="red" data-pin-height="28"><img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_red_28.png" /></a><%= image_fu(img, "1140x734#") %></li>
    <% end %>
  </ul>
  <a href="prev" class="nav-slide prev" data-target="#<%= rand_id %>"><span class="fa fa-angle-left fa-3x"></span></a>
<a href="next" class="nav-slide next" data-target="#<%= rand_id %>"><span class="fa fa-angle-right fa-3x"></span></a>
</div><!--end of image slider-->
