<!DOCTYPE html>
<html class="no-js">
<%= render 'head' %>
<body id='<%= @body_id %>'>
  <%#= link_to(image_tag("international-property-awards.jpg"), "http://www.propertyawards.net",
    :target => "_blank", :class => "visible-md visible-lg", :style => "position:absolute;top:0;right:0;z-index:1001;")%>

  <%= render 'navbar' %>
  <!-- WRAPPER
  ================================================== -->

  <div class="main-container">
    <header class="page-header">
      <%= yield :header if content_for? :header %>
      <%= yield :page_header if content_for? :page_header %>
    </header>
      <div class="container">
        <div class="row">
          <div class="col-md-12 main-content">
            <%= yield %>
          </div>
        </div>
      </div>
  <%#= render 'footer' %>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="modal_newsletter" tabindex="-1" role="dialog" aria-labelledby="newsletterSubscriptionModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel">Souscrire à la newsletter</h4>
        </div>
        <div class="modal-body">
          <form id="form_newsletter" action="/newsletters" data-remote="true" method="post" role="form">
              <div class="form-group">
                <label class="sr-only" for="fieldFirstName">Nom</label>
                <input type="text" class="form-control" name="newsletter[firstname]"
                       id="newsletter_firstname" placeholder="<%= t('simple_form.labels.inquiry.firstname') %>">
              </div>
              <div class="form-group">
                <label class="sr-only" for="fieldName">Nom</label>
                <input type="text" class="form-control" name="newsletter[lastname]"
                       id="newsletter_lastname" placeholder="<%= t('simple_form.labels.inquiry.lastname') %>">
              </div>
              <div class="form-group">
                <label class="sr-only" for="fieldEmail">Email</label>
                <input class="form-control" name="newsletter[email]"
                       id="newsletter_email" placeholder="<%= t('simple_form.labels.inquiry.email') %>" type="email" required >
              </div>
              <div class="form-group">
              <button id="submit_newsletter" type="submit" class="btn btn-primary">Envoyer</button>
              </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <%= render 'javascripts' %>
</body>
</html>
